@page
@model IndexModel
@{
    ViewData["Title"] = "My DevOps Website";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the DevOps Course</h1>
</div>

<div class="text-center">
    <h1>Hello, world!</h1>
    <p>The time on the server is @DateTime.Now</p>
</div>
